extends ../layout

block content
    .container-fluid.p-0(style="background:#e6e9ec ")
        .px-md-5.pt-4
            .container.px-md-5.pb-md-5.form-section
                header.p-2.text-white(style="background:#092944")
                    | EDUCATION
                p.text-center.py-4
                    // Button trigger modal
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
                        | Add Education
                // Modal
                #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title EDUCATION
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                form.px-md-4(method='post' name="education")
                                    .form-group
                                        label.m-0.required(for='highest_education') Highest level of education
                                        input.form-control.form-control-sm(type='text'  name="highest_education" value= `${data ? data.highest_education: ''}` required)
                                        label.error-message
                                    .form-row
                                        .form-group.col-md-6
                                            label.required(for='specialization') Specialization
                                            input.form-control.form-control-sm(type='text' name="specialization" value= `${data ? data.specialization: ''}`)
                                            label.error-message
                                        .form-group.col-md-6
                                            label(for='institution') Institutions
                                            input.form-control.form-control-sm(type='text' name="institution" value= `${data ? data.institution: ''}`)
                                            label.error-message
                                    .form-row
                                        .form-group.col-md-6
                                            label(for='duration') Duration
                                            input.form-control.form-control-sm(type='number' name="duration" value= `${data ? data.duration: ''}`)
                                        .form-group.col-md-6
                                            label(for='yog') Year of Graduation
                                            input.form-control.form-control-sm(type='date' name="yog" value= `${data ? data.yog: ''}`)
                                    .d-flex.bd-highlight
                                        .flex-grow-1.bd-highlight 
                                            button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
                                        .bd-highlight
                                            input.btn.btn-md.btn-primary.px-4(type='submit'  value='save')
                .d-flex.bd-highlight
                    .flex-grow-1.bd-highlight 
                        a.btn.btn-md.btn-primary.px-4(href="/user/register/3") Back
                    .bd-highlight
                        a.btn.btn-md.btn-primary.px-4(href="/user/register/5") Next