extends ../layout

block content
    .container-fluid.p-0(style="background:#e6e9ec ")
        .px-md-5.pt-4
            .container.px-md-5.pb-md-5.form-section
                header.p-2.text-white(style="background:#092944")
                    | SKILLS/TALENTS EXPERIENCE
                .table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th(scope='col') SN
                                th(scope='col') Skills
                                th(scope='col') Duration
                                th(scope='col') C-Type
                                th(scope='col') E-Type
                                th(scope='col')
                        tbody
                            if(talents)
                                each talent, i in talents
                                        tr
                                            th(scope='row') #{i+1}
                                            td #{talent.skill}
                                            td #{talent.yoe.value}
                                            td  #{talent.contract_type}
                                            td  #{talent.employment_type}
                                            td 
                                                a.btn.btn-sm.btn-danger.remove(href="" data-id=`${talent._id}` data-submiturl="/user/skill/" data-rurl="/user/register/3") Delete
                
                p.text-center.py-4
                    // Button trigger modal
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
                        | Add Skills/Talent
                // Modal
                #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title SKILLS/TALENTS EXPERIENCE
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                form.px-md-4(method='post' action="/user/register/3" name="skill_talent")
                                    .form-group
                                        label.m-0.required(for='skill') Main skills/talent
                                        input.form-control.form-control-sm.required(type='text'  name="skill" id="skill" value= `${data ? data.skill: ''}` required)
                                        label.error-message
                                    .form-row
                                        .form-group.col-md-6
                                            label.required(for='yoe') Years of experience
                                            input.form-control.form-control-sm.required(type='number' name="yoe" value= `${data ? data.yoe: ''}` required)
                                        .form-group.col-md-6
                                            label(for='name_company') Name of Company
                                            input.form-control.form-control-sm(type='text' name="name_company" value= `${data ? data.name_company: ''}`)
                                    .form-row
                                        .form-group.col-md-6
                                            label(for='job_title') Job Title
                                            input.form-control.form-control-sm(type='text' name="job_title" value= `${data ? data.job_title: ''}`)
                                        .form-group.col-md-6
                                            label(for='country') Country
                                            select.form-control.form-control-sm(name="country" id="nationality" value= `${data ? data.country: ''}`)
                                                option Select Country
                                    .form-row
                                        .form-group.col-md-6
                                            label(for='start') Start
                                            input.form-control.form-control-sm(type='date' name="start" value= `${data ? data.start: ''}`)
                                        .form-group.col-md-6
                                            label(for='end') End
                                            input.form-control.form-control-sm(type='date' name="end" value= `${data ? data.end: ''}`)
                                    .form-row
                                        .col-md-6
                                            label(for="") Contract Type
                                            .form-check.pl-0
                                                label.form-check-label.pr-4(for='full_time') Full Time
                                                input#full_time.form-check-input(type='radio' name='contract_type' value='Full Time' checked='')

                                            .form-check.pl-0
                                                label.form-check-label.pr-4(for='part_time') Part Time
                                                input#part_time.form-check-input(type='radio' name='contract_type' value='Part Time')
                                        .col-md-6
                                            label(for="") Employment Type
                                            .form-check.pl-0
                                                label.form-check-label.pr-4(for='paid') Paid
                                                input#paid.form-check-input(type='radio' name='employment_type' value='Paid' checked='')

                                            .form-check.pl-0
                                                label.form-check-label.pr-4(for='volunteer') Volunteer
                                                input#volunteer.form-check-input(type='radio' name='employment_type' value='Volunteer')
                                    .form-group.pt-1
                                        label(for='responsibility') Responsibility
                                        textarea.form-control(name='responsibility' rows='3' value= `${data ? data.responsibility: ''}`)
                                    .d-flex.bd-highlight
                                        .flex-grow-1.bd-highlight 
                                            button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
                                        .bd-highlight
                                            input.btn.btn-md.btn-primary.px-4(type='submit'  value='save')
                  
                .d-flex.bd-highlight
                    .flex-grow-1.bd-highlight 
                        a.btn.btn-md.btn-primary.px-4(href="/user/register/2") Back
                    .bd-highlight
                        a.btn.btn-md.btn-primary.px-4(href="/user/register/4") Next