extends ../layout

block content
    .container-fluid.py-0.px-4(style="background:#e6e9ec ")
        .d-flex.justify-content-start.p-4
            .px-md-2.article-detail
                if(article)
                    .article-detail-header.mb-3
                        h4 #{article.title}
                        p 
                            span posted on: 
                            | #{moment(article.createdAt).format('MMMM Do YYYY, h:mm a')}
                    .article-detail-image(style=`background: url(${article.photo})`)
                    .article-detail-body
                     !=article.articleBody
                    br
                    hr
                    .comments
                    if article.comments
                        h3.font-weight-bold.text-muted COMMENTS
                        each comment, i in article.comments
                            .comment.body
                                p.comment-name.font-weight-bold  
                                    | #{comment.name} |
                                    span.text-danger  #{moment(article.date).format('DD:MM:YYYY')}
                                p.comment-text.text-muted 
                                 != comment.commentBody
                        br
                h3 Add Comment
                if(article)
                    form.comment-form(method='post' action='/blog/addcomment')

                        .form-group
                            label(for="name") Name
                            input.form-control(name='name', value= `${data ? data.name: ''}` type='text' required)
                        .form-group
                            label(for="email") Email
                            input.form-control(name='email', value= `${data ? data.email: ''}` type='email' required)
                        .form-group
                            label(for="commentBody") Body
                            textarea.form-control(name='commentBody' id="commentBody" value= `${data ? data.commentBody: ''}`  required)
                        input(name='commentid' type='hidden' value=`${article._id}`)
                        input.btn.btn-primary(type='submit'  value='Add Comment')
