extends ../layout

block content
    .container-fluid.p-0
        header.p-0.m-0
            if(header)
                each head, i in header
                    if(head.name=="press")
                        .page-header(style=`background: url(${head.photo})`)
                            .page-header-title
                                | DPHUB PRESS RELEASES
        .container-fluid.px-4(style="background:#e6e9ec ")
            .row
                .col-md-9
                    .container 
                    if(presses)
                        each press, i in presses
                            .p-2.my-4.card-section 
                                .row  
                                    .col-md-3 
                                        if(header)
                                            each head, i in header
                                                if(head.name=="press")
                                                    .press-image(style=`background: url(${press.photo})`)
                                    .col-md-9  
                                        .press-detail-section.p-1
                                            h4 #{press.title}
                                            .d-flex
                                                .p-1
                                                    p.mb-0.social-date-chat
                                                        span.text-muted 
                                                            i.fas.fa-calendar-alt.px-1
                                                            span.px-1 #{moment(press.createdAt).format(`DD: MM: YYYY`)}
                                                .p-1
                                                    p.mb-0.social-date-chat
                                                        | DPHUB
                                                        span 
                                                            i.fas.fa-comment-alt
                                                            sub.px-1 #{press.comments.length}

                                                .ml-auto.p-1
                                                    p.p-1.mb-0.social-team
                                                        a.facebook(href=`#` )
                                                            i.fab.fa-facebook-f
                                                        a.twitter(href=`#`)
                                                            i.fab.fa-twitter  
                                                        a.googleplus(href=`#` )                                                
                                                            i.fab.fa-google-plus-g

                                            p.mb-0 
                                            !=truncateText(press.articleBody, 200)
                                            p.mb-0.text-right.read-more.font-weight-bold
                                                a.btn(href=`/resource/press/${press._id}`) 
                                                    span React more
                                                    | >>
                .col-6.col-md-3 
                    form(method="get" action="/resource/press")
                        .input-group.py-4
                            input.form-control(type='search' name="search" placeholder='Type and hit enter' aria-label='Search')
                            .input-group-append
                                button.input-group-text.btn.my-2.my-sm-0.bg-dark(type='submit')
                                    i.fas.fa-search.text-white
                    .press-detail-section
                        h4 PRESS ENQUIRIES
                            span
                        h5.m-0  Michael NWISANE
                        p.m-0 Communition Officer
                        p.m-0 
                            i.fas.fa-mobile-alt
                            a.px-2(href="tel://+2349090000000") (+234)-909-000-0000
                        p 
                            i.fas.fa-envelope
                            a.px-2(href="mailto:nwisane@dphubng.org") nwisane@dphubng.org
                    .press-detail-section.py-3
                        h4 BE IN THE KNOW
                            span
                        form(method='post' action="/subscription" name="subscribeFform")
                            .form-group
                                span.m-0(for='email') Subscribe to our email list
                                input.form-control.form-control-sm.required(type='email'  name="email" placeholder="enter your email address" required)
                            .form-row.pl-4
                                .form-check.col-md-6
                                    input.form-check-input(type='checkbox' name="press_release" value='1')
                                    span.form-check-label
                                        | Press Release
                                .form-check.col-md-6
                                    input.form-check-input(type='checkbox' name="event" value='2')
                                    span.form-check-label
                                        | Event
                            .form-row.pl-4
                                .form-check.col-md-6
                                    input.form-check-input(type='checkbox' name="publication" value='3')
                                    span.form-check-label
                                        | Publication
                                .form-check.col-md-6
                                    input.form-check-input(type='checkbox' name="blogs" value='4')
                                    span.form-check-label
                                        | Blogs
                            .form-row.pl-4
                                .form-check.col-md-6
                                    input.form-check-input(type='checkbox' name="multimedia" value='5')
                                    span.form-check-label
                                        | Multimedia
                                .form-check.col-md-6
                                    input.form-check-input(type='checkbox' name="jobs" value='6')
                                    span.form-check-label
                                        | Jobs
                            input.form-check-input(type='hidden' name="urlpath" value='/resource/press')
                            input.btn.btn-sm.btn-primary.my-1(type="submit" value="Signup")
                    .press-detail-section
                        h4 EVENTS
                            span
                        .row.pl-2
                            .cols.p-2.mr-1
                                form(method="post" action="/events/1" name="upcoming")
                                    input.btn.btn-block.btn-primary(type="submit" value="Upcoming")
                            .cols.p-2
                                form(method="post" action="/events/5" name="Previous")
                                    input.btn.btn-block.btn-outline-primary(type="submit" value="Upcoming")
                        #date-countdown
                            .font-weight-light Launch of Nigeria’s first DPs need assessment            
                            .d-flex.justify-content-center.text-center
                                .px-2
                                    h2.p-0.m-0.text-danger 00
                                    p.p-0.m-0 days
                                .px-2
                                    h2.p-0.m-0.text-danger 00
                                    p.p-0.m-0 hours
                                .px-2
                                    h2.p-0.m-0.text-danger 00
                                    p.p-0.m-0 minutes
                                .px-2
                                    h2.p-0.m-0.text-danger 00
                                    p.p-0.m-0 Seconds
